@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
:root {
  width: 100vw;
  height: 100vh;

  font-family: "Comfortaa", cursive;
}
body {
  margin: 0 !important;
  background: linear-gradient(180deg, #cffcfc 0%, #fde8bf 100%);
  background-attachment: fixed;
}
body.dark {
  background: linear-gradient(180deg, #da9d65 0%, #6311a4 50.52%, #460d72 100%);
  background-attachment: fixed;
}
